.titulo {
    font: size 44px;
    background-color: #00ff00;
    text-align: center;
}

.subtitulo1 {
    font-size: 30px;
}

.subtitulo2 {
    font-size: 30px;
}

.subtitulo3 {
    font-size: 30px;
}

.lista_ordenada_numeros {
    list-style-type: decimal;
}

body {
    font-size: 18px;
}

.pie_pagina {
    margin: 0%;
    text-align: center;

}

.negrita_pie {
    font-weight: bold;
    text-align: center;

}

.cursiva_pie {
    font-style: italic;
    text-align: center;

}

.fondo_pie {
    background-color: #000000;
}

.letra_pie {
    color: #ffffff;
}

.alineacion {
    text-align: right;
    display: inline;
    float: right;
}